body{
    padding: 10px;
}
.code{
    font-family: 'JetBrains mono';
}
.title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.topic{
    font-family: 2rem !important;
    border: 1px solid rgb(104, 104, 104);
    padding: 4px 8px;
    border-radius: 3px;
}
a.index{
    font-size: 24px;
}
a{
    color: navy;
    text-decoration: none;
}
.nav{
    font-size: 28px;
    display: inline-grid;
    grid-template-columns: max-content;    
    gap: 10px;
}
.nav a{
    padding: 10px;
}
.nav a:hover{
    background-color: rgb(230, 245, 240);
}