@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Archivo+Narrow&family=Inconsolata&family=JetBrains+Mono&family=Noto+Sans&display=swap');

:root {
  --base-font-size: 18px;
  --text-light: #e6e6e7;
  --text-dark: #121213;
  --border-color: indigo;
  --bg-footer: indigo;
  --bg-nav: indigo;
  --bg-container: #ccc;
  --text-color: rgb(101, 99, 99);
  --a-color: navy;
  --a-empty-color: rgb(152, 71, 71);
  --font-mono: 'JetBrains Mono';
  --font-mono-2: 'Inconsolata';
  --font-narrow: 'Archivo Narrow';
  --font-sans: 'Albert Sans';
  --font-sans-2: 'Noto Sans';
  --topic-color: rgb(104, 104, 104);
  --pad-y: 1rem;
  --pad-x: 1rem;
}
/* ------- tags HTML ------- */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* animation: fadeIn ease 1s; */
  animation: fadeIn ease .1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
p {
  line-height: 1.5em;
}
h1{
  font-size: 1.7rem;
}
h2{
  font-size: 1.6rem;
}
h3{
  font-size: 1.4rem;
}
main {
  flex: 1 0 auto;
  padding: 20px;
}

#conceitos{
  display: inline-grid;
  margin: 0px 30px;
  width: max-content;
}
#conceitos .topic{
  margin: 20px 0 0 0px;
}
#conceitos dt{
  padding-top: 20px;;
}
dl{
  margin: 0;
  padding: 0;
}
#conceitos dt{
  font-weight: bold;
}
nav {
  font-family: var(--font-mono-2);
  color: var(--text-light);
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  background-color: var(--bg-color);
  color: var(--text-light);
  padding: var(--pad-y) var(--pad-x);
}

footer a {
  color: var(--a-color-clear);
}

/* ====================================== */
pre.snippet {
  border: 1px solid var(--border-color);
  font-family: var(--font-mono);
  font-size: 1.4em;
  line-height: 1.6em;
  width: fit-content;
}
pre.snippet code {
  font-family: var(--font-mono-2);
  background-color: rgb(230, 251, 250);
  border-radius: 3px;
  /* padding: 0px 40px 20px 30px !important; */
}


/* ------- classes ------- */

.container {
  background-color: #ccc;
  padding: 10px;
  font-size: 22px;
  display: flex;
  gap: 10px;
}

.card {
  background-color: indigo;
  color: white;
  padding: 20px;
  width: 250px;
}

.c,
.n {
  font-family: var(--font-mono);
}

.topic {
  border: 1px solid var(--topic-color);
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 3px;
}

.topic.flex {
  color: indigo;
  border-color: indigo;
}

.nav {
  font-size: 1.2rem;
  display: inline-grid;
  grid-template-columns: max-content;
  gap: 25px;
  user-select: none;
}

.nav a {
  padding: 10px 0px;
}

.nav a:hover {
  background-color: rgba(230, 245, 240, 0.455);
}

#path {
  color: darkgray;
  font-family: var(--font-mono);
}
.showCode {
  font-family: var(--font-mono);
}
.showCode::before{
  content: '⚙';
}
div.source {
  font-family: var(--font-mono);
  display: none;
}
#codeWrapper {
  display: none;
}
#codeWrapper pre{
  margin: 0;
}
.styleCode h3 {
  margin: 20px 0 0 0;
}
.styleCode h3::before{
  content: '<style> ';
}
.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 0 0 30px;
}

/* LINK STYLES */
a {
  color: var(--a-color);
  text-decoration: none;
  padding: 0 10px 0 0;
}

a.index::before {
  content: '▲ ';
}

a.ext::before {
  content: '➥ ';
}

a[href="#"] {
  color: var(--a-empty-color);
}

a.index,
a.i {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'ubuntu';
}

.logo {
  background-image: url('imgs/gh.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

a.logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right;
}
.grid1 {
  display: grid;
  grid-template-columns: max-content;
  gap: 10px;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  justify-items: left;
}
.grid {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
}
.grid label{
  justify-self: right;
}
form input, 
form button, 
form textarea{
  padding: 5px;
}
form select{
  padding: 5px;
  line-height: 1.5em;
}
form input,
form textarea {
  line-height: 1.5em;
}
input[type='radio'], 
input[type='checkbox'] {
  width: max-content;
  transform: scale(1.5);
}
select {
  /* zoom: 1.1; */
  outline: none;
}
.grid button{
  grid-column: 2 / 3;
  justify-self: flex-start;
}
.grupo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grupo label{
  margin-right: 20px;
}
input:invalid{
  color: red;
}
details summary:hover{
  cursor: pointer;
}
details.snippet{
  margin: 0px 0px 20px 0px;  
}
details.snippet[open] summary{
  user-select: none;
  margin-bottom: 20px;
}
.snipGrid{
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  justify-items: left;
  border: 2px solid var(--border-color);
  overflow-y: auto;
}

.col1{
  grid-template-columns: max-content;
  gap: 30px;
}

.col2{
  grid-template-columns: max-content max-content;
  gap: 30px;
}