@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Archivo+Narrow&family=Inconsolata&family=JetBrains+Mono&family=Noto+Sans&display=swap');

:root {
  --border-color: darkcyan;
  --bg-color: indigo;
  --bg-footer: indigo;
  --bg-nav: indigo;
  --bg-container: #ccc;
  --text-color: rgb(101, 99, 99);
  --text-light: rgb(230, 230, 231);
  --text-dark: rgb(18, 18, 19);
  --a-color: navy;
  --a-empty-color: rgb(152, 71, 71);
  --font-mono: 'JetBrains Mono';
  --font-mono-2: 'Inconsolata';
  --font-narrow: 'Archivo Narrow';
  --font-sans: 'Albert Sans';
  --font-sans-2: 'Noto Sans';
  --topic-color: rgb(104, 104, 104);
  --pad-y: 1rem;
  --pad-x: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* animation: fadeIn ease 1s; */
  animation: fadeIn ease .1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding: 20px;
}

nav {
  font-family: var(--font-mono-2);
  /* background-color: var(--bg-nav); */
  color: var(--text-light);
  /* padding: var(--pad-y) var(--pad-x); */
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  background-color: var(--bg-color);
  color: var(--text-light);
  padding: var(--pad-y) var(--pad-x);
}

footer a {
  color: var(--a-color-clear);
}

pre {
  border: 1px solid var(--border-color);
  font-family: var(--font-mono);
  font-size: 1.2em;
  line-height: 1.6em;
  width: fit-content;
}

pre code {
  padding: 0px 40px 20px 30px !important;
}

.container {
  background-color: #ccc;
  padding: 10px;
  font-size: 22px;
  display: flex;
  gap: 10px;
}

.card {
  background-color: indigo;
  color: white;
  padding: 20px;
  width: 250px;
}

.c,
.n {
  font-family: var(--font-mono);
}

.topic {
  font-family: 2rem !important;
  border: 1px solid var(--topic-color);
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 3px;
}

.topic.flex {
  color: indigo;
  border-color: indigo;
}

.nav {
  font-size: 28px;
  display: inline-grid;
  grid-template-columns: max-content;
  gap: 25px;
}

.nav a {
  padding: 10px 0px;
}

.nav a:hover {
  background-color: rgba(230, 245, 240, 0.455);
}

/* DYNAMIC ELEMENTS */
#path {
  color: darkgray;
  font-family: var(--font-mono);
  /* display: none; */
}
button.showCode {
  font-family: var(--font-mono);
  display: none;
}

div.source {
  font-family: var(--font-mono);
  display: none;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 0 0 30px;
}

/* LINK STYLES */
a {
  color: var(--a-color);
  text-decoration: none;
  padding: 0 10px 0 0;
}

a.index::before {
  content: '▲ ';
}

a.ext::before {
  content: '➥ ';
}

a[href="#"] {
  color: var(--a-empty-color);
}

a.index,
a.i {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'ubuntu';
}

.logo {
  background-image: url('imgs/gh.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

a.logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right;
}