@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --base-font: "Albert Sans", sans-serif;
    --is-dark: 0;  /* 0|1  (0=normal, 1=dark) */
    
    --page-zoom: 3;
    
    --page-width: 100%;
    
    --display-menu: contents; /* none|contents */
    
    --content-width: 800px;
    --content-width-min: 800px;
    --content-width-max: 100%;
    
    --body-width: 90%;
    --body-width-max: 90vw;
    
    --html-width-max: 100vw;
    
    --debug-containers: 0px solid;
    --debug-all: 0px solid black;
           
}
html { filter: invert(var(--is-dark)) }
img, video { filter: invert(var(--is-dark)); }

* {
    font-family: var(--base-font);
    font-optical-sizing: auto;
    box-sizing: border-box;
    /* [DEBUG] */
    border: var(--debug-all);
    border-radius: 3px;
    margin: 0 !important;
    padding: 0 0 0 0;
    /* display: inline; */
}
html{
    max-width: var(--html-width-max) !important;
    /* [DEBUG] */
/*     border: var(--debug-containers) #c28282; */
}
body{
    zoom: var(--page-zoom);
    display: grid !important;
    grid-template-columns: 1fr;

    width: var(--body-width) !important;    
    max-width: var(--body-width-max) !important;
    
    /* [DEBUG] */
    border: var(--debug-containers) blue;
}

#hnmain { 
    min-width: var(--content-width-min) !important;
    max-width: var(--content-width-max) !important;
    width: var(--content-width) !important;
    /* [DEBUG] */
    border: var(--debug-containers) red;
}
center{
    margin: 0  !important;
    text-align: unset !important;
    /*
    max-width: 90% !important;
    min-width: 90% !important;
    width: 90% !important;
    */
    /* [DEBUG] */
    border: var(--debug-containers) #327132;
}

.title span > a{
    max-width: 400px;
}
tr.spacer{
    height: 20px !important;
}
tr.athing{
    word-spacing: 1px !important;
}
td.votelinks{
    visibility: hidden;
}
#hnmain > tbody > tr:nth-child(1) > td > table{
    display: var(--display-menu);
}
#hnmain > tbody > tr:nth-child(3) > td > table{
    display: grid;
    /*border: 1px solid navy;*/
}
#hnmain > tbody > tr:nth-child(3) > td > table tr.athing{
    display: grid;
    grid-template-columns: 20px 5px max-content;    
    align-items: center;
    /*background-color: #d7f6d0;*/
}
#hnmain > tbody > tr:nth-child(3) > td > table.comment-tree > tbody > tr.athing{
    display: grid;
    grid-template-columns: 1fr  !important;    
    /*background-color: #d4a9e7 !important;*/
}
#hnmain > tbody > tr:nth-child(3) > td > table > tbody > tr > td.subtext{
    padding: 0px 0px 0px 25px;
}
#hnmain > tbody > tr:nth-child(3) > td > br{
    display: none;
}
#hnmain > tbody > tr:nth-child(3) > td > table tr.athing td.title{
    justify-self: center;
}
#hnmain > tbody > tr:nth-child(3) > td > table.fatitem > tbody > tr:nth-child(3) {
    display: none;
}
#hnmain > tbody > tr:nth-child(3) > td > table.fatitem > tbody > tr:nth-child(4) {
    display: none;
}
span.rank{
    font-size: x-small;
}
div.comment{
    margin-bottom: 20px;
    padding: 0px 0px 0px 10px;
    border-left: 2px solid #ccc;
    /* background-color: #f4c7c7; */
}
a:visited{
    color: #c28282 !important;
}
span.pagetop a:visited{
    color: #142d5f !important;
}
span.sitebit.comhead{
    font-size: xx-small;
}
span.sitebit.comhead a{
    border-bottom: 1px dashed #ccc;
}
/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* for vertical scrollbar */
    height: 8px; /* for horizontal scrollbar */
    padding: 2px;
}
/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background: #8880a8;
}
/* Background of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: #142d5f; 
    border-radius: 1px;  /* Rounded corners */
    border: 1px solid transparent; /* Gives a border */
}
/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #53055d;
}
