<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Forms</title>
<link rel="icon" href="../resources/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../resources/base.css"/>
<script src="../resources/__config.js"></script>
<style></style>
</head>

<body>
  <main>
    <nav>
      <a class="i" href="../index.html">index</a>
      <span id="path"></span>
    </nav>

    <header class="main">
      <h1 class="title">layouts</h1>
      <span class="topic c">css</span>
    </header>

    <div class="contents">
      <section>
        <ul class="nav">
          <li><a href="1-basico.html">1-basico</a></li>
          <li><a href="2-basico-flex.html">2-basico flex</a></li>
          <li><a href="3-basico-menu-flex.html">3-basico menu flex</a></li>
          <li><a href="#">1 column flex</a></li>
      </ul>
      </section>
    </div> <!-- close contents -->

  </main>

  <footer>---</footer>

</body>
</html>