<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Flex index</title>
<link rel="icon" href="../resources/favicon.ico" />
<link rel="stylesheet" type="text/css" href="../resources/base.css"/>
<script src="../resources/__config.js"></script>
<style></style>
</head>

<body>
<a class="index" href="../index.html">home</a>
<span id="path"></span>

<h1 class="code">layouts</h1>

<ul class="nav">
    <li><a href="basico.html">basico</a></li>
    <li><a href="basico-flex.html">basico flex</a></li>
    <li><a href="basico-menu-flex.html">basico menu flex</a></li>
    <li><a href="#">1 column flex</a></li>
</ul>

</body>
</html>