<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta viewport="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="posts_flex.css" />
  <title>Layout #1 - posts</title>
</head>
<body>
  <main>
    <header>
      <h1>posts flex</h1>
      <nav>
        <a href="#">find</a>
        <a href="#">create</a>
        <a href="#">preferences</a>
        <a class="sair" href="#">logout</a>
      </nav>
    </header>

    <div class="conteudo">
      <header>
        <h2 class="titulo">posts recentes</h2>
      </header>

      <div class="posts">

        <div class="card">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id voluptas laboriosam veniam ratione vero. Eveniet officiis perspiciatis soluta vitae doloribus aperiam modi nisi, sequi magnam tempora? Suscipit molestiae earum dignissimos?
          </p>
          <a href="#">mais...</a>
        </div>

        <div class="card">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem, nobis magnam assumenda laborum rem voluptas ullam minima quis doloribus eos dicta incidunt tenetur porro necessitatibus illum quasi odit. Incidunt.</p>
        </div>

        <div class="card">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem, nobis magnam assumenda laborum rem voluptas ullam minima quis doloribus eos dicta incidunt tenetur porro necessitatibus illum quasi odit. Incidunt.</p>
        </div>
        <div class="card">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem, nobis magnam assumenda laborum rem voluptas ullam minima quis doloribus eos dicta incidunt tenetur porro necessitatibus illum quasi odit. Incidunt.</p>
        </div>
        <div class="card">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem, nobis magnam assumenda laborum rem voluptas ullam minima quis doloribus eos dicta incidunt tenetur porro necessitatibus illum quasi odit. Incidunt.</p>
        </div>
        
        <div class="card">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis assumenda error possimus quaerat inventore dolore ullam nulla, sequi sunt similique numquam, autem adipisci voluptatem repudiandae fuga odit reprehenderit, quo ut.</p>
        </div>

        <div class="card">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis assumenda error possimus quaerat inventore dolore ullam nulla, sequi sunt similique numquam, autem adipisci voluptatem repudiandae fuga odit reprehenderit, quo ut.</p>
        </div>
        
        <div class="card">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis assumenda error possimus quaerat inventore dolore ullam nulla, sequi sunt similique numquam, autem adipisci voluptatem repudiandae fuga odit reprehenderit, quo ut.</p>
        </div>
        
        <div class="card">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis assumenda error possimus quaerat inventore dolore ullam nulla, sequi sunt similique numquam, autem adipisci voluptatem repudiandae fuga odit reprehenderit, quo ut.
          </p>
          <a href="#">mais...</a>
        </div>
      
      </div> <!-- fechamento da container -->
    </div>
    
  </main>
  
  <footer>
    <a href="#">Saiba mais</a>
    <a href="#">Mapa do site</a>
    <a href="#">Contato</a>
  </footer>

</body>
</html>