.container {
  background-color: #ccc;
  padding: 10px;
  font-size: 22px;
  display: flex;
  gap: 10px;
}
.card {
  background-color: indigo;
  color: white;
  padding: 20px;
  width: 250px;
}
.AlignCenter{
  /* centraliza na vertical */
  align-items: center; 
}
.AlignTop{
  /* centraliza com o topo (inicio) do container flex */
  align-items: flex-start;
}
.AlignBottom{
  align-items: flex-end;
}
